<mat-card class="contact">
    <mat-card-header>
      <div mat-card-avatar class="contact-header-image"></div>
      <mat-card-title>HELARTE</mat-card-title>
      <mat-card-subtitle>Delicias Artesanales</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../assets/images/logo.jpg" alt="Helarte delias artesanales">
    <mat-card-content>
      <mat-toolbar color="accent">
        <span>Helarte, una forma deliciosa de comer la fruta en helados y crepes</span>
      </mat-toolbar>
      <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>Ubicación: Calle Panzaleos, lote 3, local 2, y calle Pastaza. Sector: Conocoto sur</span>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <span>Telefono: 0992751894</span>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <span>Correo: helarte.capelo@gmail.com</span>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <span>facebook: @helarte.capelo</span>
          </mat-toolbar-row>
      </mat-toolbar>
    </mat-card-content>
  </mat-card>