<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel>Sus compras</ng-template>
            <app-cart></app-cart>
            <div>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Confirmar pedido</ng-template>
        <app-datos-personales></app-datos-personales>
    </mat-step>
    <mat-step>
        <ng-template>Pago</ng-template>
        <h1>Contenido</h1>
    </mat-step>
</mat-horizontal-stepper>
