@import url("https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap");
mat-card {
  background-color: lightseagreen;
  font-family: "Rum Raisin", sans-serif;
}

.crop-image {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  img {
    margin-top: 3px;
    background-size: cover;
    border-radius: 15px;
    border: 1px solid white;
    width: 100%;
    max-height: 284px;
    margin-bottom: 0;
    padding-bottom: 0;
    filter: grayscale(70%);
  }
}
