<h1>Categorias Disponibles</h1>
<!-- <a mat-raised-button color="accent" routerLink="create">Crear categoría</a> -->
<div class="product-grid">
    <div *ngFor="let product of products">
        <mat-card>
            <mat-card-header>
              <mat-card-title>{{ product.producto | uppercase }}</mat-card-title>
            </mat-card-header>
            <div class="crop-image">
              <img [src]="product.img | async" alt="">
            </div>
            <mat-card-content>
                <h3>
                    {{product.descripcion_larga}}
                </h3>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button [routerLink]="['edit', product.codigo]">Editar</button>
                <!-- <button mat-raised-button color="warn">Eliminar</button> -->
              </mat-card-actions>
          </mat-card>
    </div>
</div>
  